.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.pure-form {
	border: 1px dashed #333;
}

.pure-form button, .pure-form input {
	padding: 20px;
	font-size: 1.5em;
	text-align: center;
}

.pure-form button {
	margin-top: 10px;
}

#content {
	margin: 0 auto;
}

h1 {
	font-family: 'Grand Hotel', Arial, san-serif;
	font-size: 150px;
	line-height: 50px;
	height: 50px;
	text-align: center;
	color: #ddd;
	border: 1px dashed #333;
}

.base {
	margin-top: 200px;
	text-align: center;
	color: #ddd;
}

.blue {
	color: #0072dc;
}

body {
	background: url(/static/img/binding_dark.png);
}

.bar {
display: inline-block;
width: 80px;
height: 400px;
margin-right: 2px;
background-color: teal;
}