{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ReviewBoard Scoring System {% endblock %}

{% block meta %}
<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<div class="sidebar">
</div>

<h1>ship<span class="blue">it!</span></h1>
<div class="pure-u-1-4"></div>
<form action="" method="POST" class="user-search-form pure-form pure-u-1-2">
    <span id="id_csrf">{% csrf_token %}</span>
    <input id="id_user" name="user" type="text" class="pure-input-1" placeholder="Enter username of employee you would like to see">
    <button id="user-search-button" class="pure-button pure-input-1 pure-button-primary" type="submit">Submit</button>
</form>
<div class="pure-u-1-4"></div>
<h3>User Positive and Negative Scores</h3>
<div class="base"></div>
<h3>Fastest Average Response Times (s)</h3>
<div class="time"></div>
<pre class="json-content">
</pre>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/d3.v3.min.js' %}"></script>
{% endblock %}

{% block inline-javascript %}
<script>


    $(document).ready(function() {
        $('.user-search-form').submit(function(e) {
            e.preventDefault();
            $.ajax({
              type: "POST",
              url: "",
              data: { user: $('#id_user').val(), csrfmiddlewaretoken: $('#id_csrf input').val() }
            }).done(function( msg ) {
                console.log(msg);
                raw = JSON.parse(msg['resp'])
                //output(syntaxHighlight(raw));
                d = JSON.parse(msg.score);
                var dataset = [d.rbp+10, d.rbn+10];


                //USER
                var user = raw.search.users[0];
                $('.sidebar').append('<div class="box"><span class="name">'+user.first_name+' '+user.last_name+'</span><br><img width="64px" src="'+user.avatar_url+'"/></div>');

                var w = 300;
                var h = 250;
                var barPadding = 1;
                var svg = d3.select(".base")
                            .append("svg")
                            .attr("width", w)
                            .attr("height", h);

                var scale = d3.scale.linear()
                            .domain([0, 100])
                            .range([h, 0]);

                svg.selectAll("rect")
                   .data(dataset)
                   .enter()
                   .append("rect")
                   .attr("x", function(d, i) {
                        return i * (w / dataset.length);
                   })
                   .attr("y", function(d) {
                        return scale(d);
                   })
                   .attr("width", w / dataset.length - barPadding)
                   .attr("height", function(d) {
                        return scale(d);
                   })
                   .attr("fill", function(d, i) {
                       console.log(i);
                       if(i==1) {
                           return 'rgb(200,50,50)';
                       }
                       return 'rgb(50,200,50)';
                   })


                svg.selectAll("text")
                   .data(dataset)
                   .enter()
                   .append("text")
                   .text(function(d) {
                        return d;
                   })
                   .attr("text-anchor", "middle")
                   .attr("x", function(d, i) {
                        return i * (w / dataset.length) + (w / dataset.length - barPadding) / 2;
                   })
                   .attr("y", function(d) {
                        return h - (d * 4) + 14;
                   })
                   .attr("font-family", "sans-serif")
                   .attr("font-size", "14px")
                   .attr("fill", "white");

               svg.append("text")
                       .attr("x", (w / 2))
                       .attr("y", 20)
                       .attr("text-anchor", "middle")
                       .style("font-size", "16px")
                       .style("text-decoration", "underline")
                       .style("font-weight", "bold")
                       .attr("fill", "white")
                       .text(user.username);


                tt = [];
                for (key in d.times) {
                    tt.push(Math.abs(d.times[key]));
                }


                var svg2 = d3.select(".time")
                            .append("svg")
                            .attr("width", w)
                            .attr("height", h);

                var scale2 = d3.scale.linear()
                            .domain([0, 5000])
                            .range([h, 0]);

                console.log(tt);
                svg2.selectAll("rect")
                   .data(tt)
                   .enter()
                   .append("rect")
                   .attr("x", function(d, i) {
                        return i * (w / tt.length);
                   })
                   .attr("y", function(d) {
                        return scale2(d);
                   })
                   .attr("width", w / tt.length - barPadding)
                   .attr("height", function(d) {
                        return scale2(Math.abs(d));
                   })
                   .attr("fill", function(d, i) {
                       console.log(i);
                       if(i==1) {
                           return 'rgb(200,50,50)';
                       }
                       return 'rgb(50,200,50)';
                   })


                svg2.selectAll("text")
                   .data(tt)
                   .enter()
                   .append("text")
                   .text(function(d) {
                        return d;
                   })
                   .attr("text-anchor", "middle")
                   .attr("x", function(d, i) {
                        return i * (w / tt.length) + (w / tt.length - barPadding) / 2;
                   })
                   .attr("y", function(d) {
                        return scale2(Math.abs(d));
                   })
                   .attr("font-family", "sans-serif")
                   .attr("font-size", "14px")
                   .attr("fill", "white");

               svg2.append("text")
                       .attr("x", (w / 2))
                       .attr("y", 20)
                       .attr("text-anchor", "middle")
                       .style("font-size", "16px")
                       .style("text-decoration", "underline")
                       .style("font-weight", "bold")
                       .attr("fill", "white")
                       .text(user.username);










                var offset = $('h1').offset();
                var offset2 = $('.user-search-form').offset();
                $('h1').css({
                        'position': 'absolute',
                        'top': offset.top,
                        'left': offset.left
                    }).animate({
                        'top': '0px',
                        'left': '20px'
                    }, 500);
                $('.user-search-form').css({
                        'position': 'absolute',
                        'top': offset2.top,
                        'left': offset2.left
                    }).animate({
                        'top': '20px',
                        'left': '400px'
                    }, 500);

            });
        })
    });

    function output(inp) {
        document.body.appendChild(document.createElement('pre')).innerHTML = inp;
    }

    function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}
</script>

{% endblock %}
