{% extends "base.html" %}
{% load staticfiles %}

{% block title %} ReviewBoard Scoring System {% endblock %}

{% block meta %}
<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<h1>ship<span class="blue">it!</span></h1>
<div class="pure-u-1-4"></div>
<form action="" method="POST" class="user-search-form pure-form pure-u-1-2">
    <span id="id_csrf">{% csrf_token %}</span>
    <input id="id_user" name="user" type="text" class="pure-input-1" placeholder="Enter username of employee you would like to see">
    <button id="user-search-button" class="pure-button pure-input-1 pure-button-primary" type="submit">Submit</button>
</form>
<div class="pure-u-1-4"></div>
<div class="base"></div>
<pre class="json-content">
</pre>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/d3.v3.min.js' %}"></script>
{% endblock %}

{% block inline-javascript %}
<script>


    $(document).ready(function() {
        $('.user-search-form').submit(function(e) {
            e.preventDefault();
            $.ajax({
              type: "POST",
              url: "",
              data: { user: $('#id_user').val(), csrfmiddlewaretoken: $('#id_csrf input').val() }
            }).done(function( msg ) {
                console.log(msg);
                raw = JSON.parse(msg['resp'])
                $('.base').text(msg.score);
                d = JSON.parse(msg.score);
                var dataset = [d.rdp, d.rbn];
                console.log(dataset);
                d3.select(".base").selectAll("div")
                .data(dataset)
                .enter()
                .append("div")
                .attr("class", "bar")
                .style("height", function(d) {
                    var barHeight = d * 5;
                    return barHeight + "px";
                });


                // output(syntaxHighlight(raw));
                var offset = $('h1').offset();
                var offset2 = $('.user-search-form').offset();
                $('h1').css({
                        'position': 'absolute',
                        'top': offset.top,
                        'left': offset.left
                    }).animate({
                        'top': '0px',
                        'left': '20px'
                    }, 500);
                $('.user-search-form').css({
                        'position': 'absolute',
                        'top': offset2.top,
                        'left': offset2.left
                    }).animate({
                        'top': '20px',
                        'left': '400px'
                    }, 500);

            });
        })
    });

    function output(inp) {
        document.body.appendChild(document.createElement('pre')).innerHTML = inp;
    }

    function syntaxHighlight(json) {
    if (typeof json != 'string') {
         json = JSON.stringify(json, undefined, 2);
    }
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}
</script>

{% endblock %}
